@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,200&display=swap');

:root{
    globalFontStyle:'work-sans';
    globalColor:#35AFBF;
    footerColor:#2C353E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    top: 0;
    left: 0;
}

/* web site templates start */
