@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    top: 0;
    left: 0;
}


/* web site templates start */
nav{
    position: fixed;
    width: 100%;
}
.navigation{
    display: flex;
    margin: auto;
    background-attachment: fixed;
    justify-content: space-between;
    position: relative;

}
.nav_logo{
    display: flex;
}
.nav-logo-img{
     margin-top: 41px;  
}
.nav_logo h3{
    margin-top: 41px;
    padding-left: 5px;
    font-family: 'work-sans',sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
}

.nav_menu{
    display: flex;
    margin-top: 40px;

}
.nav-meni_item{
   padding: 6px 10px;
   margin: 0 15px;
   cursor: pointer;
   border-bottom: 2px solid #35AFBF;

}
.nav_meni-link{
    text-decoration: none;
    color: #969999;
    font-family: 'work-sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.active{
    color: #35AFBF;  
}

.hamburger{
    margin-top: 40px;
    font-size: 25px;
    margin-left: 100px;
    cursor: pointer;
    display: none;
}

.signUpBtn{
    width: 120px;
    height: 49px;
    background-color: #35AFBF;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin-top: 35px;
    cursor: pointer;
}
.signUpBtn button{
    border: none;
    background-color: #35AFBF;
    color: white;
    font-family: 'work-sans',sans-serif;
    cursor: pointer;
}





/* Responsive media */

@media screen and (max-width: 1300px) {
    .container{
        width: 1100px;
        margin: auto;
        padding: 0 5rem;
    }
    .nav-meni_item{
        padding: 3px 10px;
     }
  }
  @media screen and (max-width: 1050px) {
    .container{
        width: 900px;
        margin: auto;
        padding: 0 5rem;
    }
    .nav-meni_item{
        padding: 0px 0px;
        margin: 0 10px;
        border-bottom: 1px solid #35AFBF;
     }
     .nav_meni-link{
        text-decoration: none;
        color: #969999;
        font-family: 'work-sans',sans-serif;
        font-size: 14.5px;
        font-weight: 400;
    }
  }
  @media screen and (max-width: 900px) {
    .container{
        width: 800px;
        margin: auto;
        padding: 0 5rem;
    }
    .nav_menu{
        position: absolute; 
        top: 50px;
        right: 0;
        width: 220px;
        display: block;
        padding: 10px;
        display: none;
    }
    .nav-meni_item{
        padding: 10px;
        text-align: right;
        
    }
    .hamburger{
        display: block;
    }
  }